numpy==1.26.4
scipy
librosa==0.10.2
numba
pytorch-lightning>=2.4
ffmpeg-python
onnxruntime
cn2an
pypinyin
pyopenjtalk>=0.4.1
g2p_en
sentencepiece
transformers>=4.51,<5
peft<0.18
chardet
PyYAML
psutil
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
python_mecab_ko
fastapi[standard]>=0.115.2
x_transformers
torchmetrics<=1.5
pydantic<=2.10.6
faster-whisper
imageio-ffmpeg

matplotlib
